* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto";
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

/* Header */
.header {
    background-color: #1f2937;
    /* padding-top: 200px; */

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 16px;

    padding: 16px 200px 0;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Section 1 */
.section1 {
    background-color: #1f2937;

    display: flex;
    padding: 80px 200px;
    flex-wrap: wrap;
    gap: 16px;
}

.hero-text {
    min-width: 200px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-right: 30px;
}

.hero-image {
    background-color: #6e747c;
    color: white;
    width: 500px;
    min-height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.section1 p {
    color: #e5e7eb;
    font-size: 18px;
    padding-bottom: 8px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 4px;
}

/* Section 2 */
.section2 {
    padding: 0 200px;
}

.section2 h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;

    text-align: center;
    margin: 40px 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 60px;
    margin-bottom: 80px;
}

.info-item {
    color: #4d5562;

    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.media {
    border: 4px solid #3882f6;
    border-radius: 16px;
    width: 150px;
    height: 150px;

    margin-bottom: 8px;
}

/* Section 3 */
.section3 {
    background-color: #e5e7eb;

    padding: 80px 260px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    text-align: right;
    margin: 16px 40px 0 0;
}

/* Section 4 */
.section4 {
    padding: 70px 200px;
}

.window {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 30px 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.window-text h2 {
    color: white;
    font-size: 18px;
}

.window-text p {
    color: #e5e7eb;
}

.window button {
    border: 1px solid white;
}

/* Footer */
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;

    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}